body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.red {
  filter: invert(13%) sepia(94%) saturate(7466%) hue-rotate(0deg)
    brightness(94%) contrast(115%);
}

.purple {
  filter: invert(5%) sepia(78%) saturate(6858%) hue-rotate(276deg)
    brightness(97%) contrast(101%);
}

.green {
  filter: invert(12%) sepia(93%) saturate(1234%) hue-rotate(446deg)
    brightness(87%) contrast(156%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
